*{
    padding: 0;
    margin: 0;   
}
@font-face {
    font-family: 'roboto';
    src: url(../css3/webfonts/fa-brands-400.ttf);
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url(istockphoto-1540355475-612x612.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
width: 30px;
cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: aliceblue;
}
/* nav items*/
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #d1f2e7;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 85%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: azure;
}
.content h1{
    font-size: 45px;
    margin-top: 20px;
}
.content p{
    margin: 10px auto;
    font-weight: 300;
    line-height: 25px;
}
button{
    width: 160px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25%;
    font-weight: bold;
    border: 2px solid  #d1f2e7;
    background-color: transparent;
    color: antiquewhite;
    cursor: pointer;
    position: relative;
    overflow: hidden;
   
}
span{
    background-color:  #5cd7ae;
    width: 0;
    height: 100%;
    border-radius: 25%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}